In [4]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
df = pd.read_csv('/content/chiSquare.csv')

In [6]:
df

        City Brand
0     Mumbai     A
1    Chennai     C
2     Mumbai     A
3     Mumbai     C
4    Chennai     C
..       ...   ...
975   Mumbai     A
976  Chennai     C
977   Mumbai     C
978   Mumbai     A
979  Chennai     B

[980 rows x 2 columns]

In [9]:
contingTab = pd.crosstab(df.City,df.Brand,margins=True)

In [10]:
contingTab

Brand      A    B    C  All
City
Chennai  165   47  191  403
Mumbai   279   73  225  577
All      444  120  416  980

In [14]:
contingTab[['A','B']]

Brand      A    B
City
Chennai  165   47
Mumbai   279   73
All      444  120

In [16]:
contingTab['A']['Chennai']

165

In [18]:
contingTab.transpose()

City   Chennai  Mumbai  All
Brand
A          165     279  444
B           47      73  120
C          191     225  416
All        403     577  980

### Calculate observed frequencies for each brand in each city

In [20]:
cities = list(df['City'].unique())
brands = list(df['Brand'].unique())

exp = {}

for i in cities:
  exp1 = {}
  for j in brands:
    exp1[j] = contingTab.transpose()[i]['All']*contingTab[j]['All']/(contingTab['All']['All'])
  exp[i] = exp1

In [21]:
exp

{'Mumbai': {'A': 261.41632653061225,
  'C': 244.93061224489796,
  'B': 70.65306122448979},
 'Chennai': {'A': 182.58367346938775,
  'C': 171.06938775510204,
  'B': 49.3469387755102}}

### Chi-square calculation

In [23]:
chi_square_cal = 0
for i in cities:
  for j in brands:
    val = (contingTab.transpose()[i][j] - exp[i][j])**2/exp[i][j]
    chi_square_cal += val

In [24]:
chi_square_cal

7.009543616823935

In [26]:
degree_of_freedom = (len(cities)-1)*(len(brands)-1)
degree_of_freedom

2

In [28]:
chi_square_tabulated = stats.chi2.ppf(1-0.05,df=degree_of_freedom)
chi_square_tabulated

5.991464547107979

# Conclusion
Since the calculated value is larger than the tabulated value, the two variables- brands and cities are not independent.